.topic-list {
  padding-left: 0;
  font-family: $serif;
}

.topic-item {
  display: inline-block;
  list-style-type: none;
  margin-right: .5em;
  text-transform: uppercase;
}

.topic-item a {
  color: #999;
  text-decoration: none;
}

.topic-item a:hover {
  color: #f53d43;
  text-decoration: underline;
}

.tag-item {
  margin-bottom: 2em;
  list-style-type: none;
}

.tag-title {
  font-family: $serif;
  border-bottom: 1px solid #b5b5c0;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
  padding-bottom: .5em;
  text-transform: uppercase;
}

.tag {
  font-family: $sans-serif;
  color: #f53d43;
  text-decoration: none;
  margin-right: 1em;
}
